
@media (max-width: 576px) {
  main {
    padding: 10px;
  }
}


@media (min-width: 577px) and (max-width: 768px) {
  main {
    padding: 15px;
  }
}


@media (min-width: 769px) {
  main {
    padding: 20px;

  }
}
