/* Telefonlar için */
@media (max-width: 576px) {
  body {
    font-size: 14px;
  }
}

/* Tabletler için */
@media (min-width: 577px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* Masaüstü ve daha büyük ekranlar için */
@media (min-width: 769px) {
  body {
    font-size: 18px;
  }
}
