.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 1rem;
}

.formLabel {
  margin-bottom: 0.5rem;
}

.formInput {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
}

.submitButton {
  padding: 0.75rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}
